@import "bootstrap";

@import 'rouge';

.font-large {
  font-size: 1.4rem;
}

.font-Large {
  font-size: 1.7rem;
}

h1 {
  padding: 20px 0 20px 30px;
}

h2 {
  padding: 20px 0 20px 30px;
}

p {
  font-size: 1.2rem;
}

.edit-container {
  margin: 0 2%;
  display: flex;
}

.form-container {
  width: 38%;
  //flex: auto;
}

.normal_form {
  width: 90%;
  height: 150px;
}

.large_form {
  width: 90%;
  height: 400px
}

.preview-container {
  width: 58%;
  //flex: auto;
}

.flash-notice {
  margin-left: 50px;
}

.btn-wide {
  padding: 0 20%;
  margin: 0 15% 30px 15%;
}

.text-nowrap {
  white-space: nowrap !important;
}

.field_with_errors {
  input {
    @extend .is-invalid;
  }
}
